
.container {
    display: flex;
    text-align: center;
}
.whitebg {
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
#trans-block {
    display: block;
    opacity: 1;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  height: 100px;
}
.nav-links {
  padding-right: 120px;
}
.nav-left {
  display: flex;
  align-items: flex-start;
  padding-left: 120px;
}
.logo{
    left: 0;
    top: 0;
    height: 100px;
    width: auto;
}
